Makefile.in
aclocal.m4
autom4te.cache/
configure
config.h.in
config.h
config.log
config.status
common/audit-events.h
common/status-codes.h
doc/gnupg.info*
doc/stamp-vti
doc/version.texi
po/gnupg2.pot
po/POTFILES
stamp-h1
Makefile
.deps/
keyserver/gpg2keys_mailto
keyserver/gpg2keys_test
tools/gpg-zip

# Files created by make when not using a VPATH build
PLAY/
*.o
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.po
po/stamp-po
po/remove-potcdate.sed
po/gnupg.pot
agent/gpg-agent
agent/gpg-preset-passphrase
agent/gpg-protect-tool
agent/t-protect
common/libcommon.a
common/libcommonpth.a
common/libgpgrl.a
common/libsimple-pwquery.a
common/t-b64
common/t-convert
common/t-exechelp
common/t-gettime
common/t-helpfile
common/t-percent
common/t-session-env
common/t-sexputil
common/t-sysutils
common/t-stringhelp
common/t-timestuff
common/t-ssh-utils
common/t-dns-cert
common/t-openpgp-oid
doc/addgnupghome.8
doc/applygnupgdefaults.8
doc/faq.html
doc/faq.raw.xref
doc/gnupg-card-architecture.eps
doc/gnupg-card-architecture.pdf
doc/gnupg-card-architecture.png
doc/gnupg-module-overview.pdf
doc/gnupg-module-overview.png
doc/gnupg.7
doc/gpg-agent.1
doc/gpg-connect-agent.1
doc/gpg-preset-passphrase.1
doc/gpg-zip.1
doc/gpg2.1
doc/gpgconf.1
doc/gpgparsemail.1
doc/gpgsm.1
doc/gpgv2.1
doc/scdaemon.1
doc/dirmngr-client.1
doc/dirmngr.8
doc/symcryptrun.1
doc/watchgnupg.1
doc/yat2m
doc/yat2m-stamp
g10/gpg2
g10/gpgv2
g10/t-rmd160
gl/alloca.h
gl/libgnu.a
jnlib/libjnlib.a
jnlib/t-stringhelp
kbx/kbxutil
kbx/libkeybox.a
keyserver/gpg2keys_curl
keyserver/gpg2keys_finger
keyserver/gpg2keys_hkp
keyserver/gpg2keys_kdns
keyserver/gpg2keys_ldap
scd/gnupg-pcsc-wrapper
scd/scdaemon
sm/gpgsm
g13/g13
dirmngr/dirmngr
dirmngr/dirmngr-client
dirmngr/dirmngr_ldap
dirmngr/no-libgcrypt.c
regexp/_unicode_mapping.c
tests/asschk
tests/gpg-agent.conf
tests/gpg.conf
tests/gpgsm.conf
tests/inittests.stamp
tests/private-keys-v1.d/
tests/pubring.kbx
tests/testdir.stamp
tests/trustlist.txt
tests/openpgp/data-32000
tests/openpgp/data-500
tests/openpgp/data-80000
tests/openpgp/data-9000
tests/openpgp/gpg-agent.conf
tests/openpgp/gpg_dearmor
tests/openpgp/plain-1
tests/openpgp/plain-2
tests/openpgp/plain-3
tests/openpgp/plain-large
tests/openpgp/prepared.stamp
tests/openpgp/pubring.gpg
tests/openpgp/pubring.pkr
tests/openpgp/secring.gpg
tests/openpgp/secring.skr
tests/openpgp/private-keys-v1.d/
tests/openpgp/*.log
tests/openpgp/trustdb.gpg
tests/openpgp/gpg.conf
tests/openpgp/random_seed
tests/openpgp/z
tests/pkits/ReadMe.txt
tests/pkits/certpairs/
tests/pkits/certs/
tests/pkits/crls/
tests/pkits/gpg-agent.conf
tests/pkits/gpgsm.conf
tests/pkits/inittests.stamp
tests/pkits/pkcs12/
tests/pkits/pkits.ldif
tests/pkits/pkits.schema
tests/pkits/policies.txt
tests/pkits/smime/
tests/pkits/testdir.stamp
tests/pkits/trustlist.txt
tools/clean-sat
tools/gpg-check-pattern
tools/gpg-connect-agent
tools/gpgconf
tools/gpgkey2ssh
tools/gpgparsemail
tools/gpgsplit
tools/make-dns-cert
tools/mk-tdata
tools/symcryptrun
tools/watchgnupg
tools/gpgtar
private-keys-v1.d/
x.parm
/VERSION
/swdb.lst
/swdb.lst.sig
/doc/ldap/gnupg-and-ldap.pdf
/doc/ldap/gnupg-and-ldap.tex
/doc/ldap/gnupg-and-ldap.txt

common/t-ccparray
common/t-ccparray.log
common/t-convert.log
common/t-exechelp.log
common/t-exectool
common/t-exectool.log
common/t-gettime.log
common/t-iobuf
common/t-iobuf.log
common/t-mapstrings
common/t-mapstrings.log
common/t-mbox-util
common/t-mbox-util.log
common/t-name-value
common/t-name-value.log
common/t-openpgp-oid.log
common/t-percent.log
common/t-recsel
common/t-recsel.log
common/t-session-env.log
common/t-sexputil.log
common/t-ssh-utils.log
common/t-stringhelp.log
common/t-strlist
common/t-strlist.log
common/t-sysutils.log
common/t-timestuff.log
common/t-w32-cmdline
common/t-zb32
common/t-zb32.log
common/w32info-rc.h
configure~
dirmngr/t-dns-stuff
dirmngr/t-http
dirmngr/t-http-basic
dirmngr/t-ldap-misc
dirmngr/t-ldap-parse-uri
doc/defs.inc
doc/defsincdate
doc/mkdefsinc
g10/gpg
g10/gpg.w32-manifest
g10/gpgv
g10/t-keydb
g10/t-keydb-get-keyblock
g10/t-keydb-get-keyblock.log
g10/t-keydb.log
g10/t-rmd160.log
g10/t-stutter
g10/t-stutter.log
g13/t-g13tuple.log
gnupg-2.3.2.buildlog
kbx/keyboxd
kbx/libkeybox509.a
macos.compiling.patch
macos.gsed.patch
make-check-all.macos.patch
po/ca.gmo
po/ca.po~
po/cs.gmo
po/cs.po~
po/da.gmo
po/da.po~
po/de.gmo
po/de.po~
po/el.gmo
po/el.po~
po/en@boldquot.gmo
po/en@quot.gmo
po/eo.gmo
po/eo.po~
po/es.gmo
po/es.po~
po/et.gmo
po/et.po~
po/fi.gmo
po/fi.po~
po/fr.gmo
po/fr.po~
po/gl.gmo
po/gl.po~
po/hu.gmo
po/hu.po~
po/id.gmo
po/id.po~
po/it.gmo
po/it.po~
po/ja.gmo
po/ja.po~
po/nb.gmo
po/nb.po~
po/pl.gmo
po/pl.po~
po/pt.gmo
po/pt.po~
po/ro.gmo
po/ro.po~
po/ru.gmo
po/ru.po~
po/sk.gmo
po/sk.po~
po/sv.gmo
po/sv.po~
po/t-en@quot.gmo
po/tr.gmo
po/tr.po~
po/uk.gmo
po/uk.po~
po/zh_CN.gmo
po/zh_CN.po~
po/zh_TW.gmo
po/zh_TW.po~
regexp/libregexp.a
report.xml
sm/t-minip12
tests/cms/decrypt.scm.log
tests/cms/encrypt.scm.log
tests/cms/export.scm.log
tests/cms/gpg-agent.conf
tests/cms/gpgsm.conf
tests/cms/import.scm.log
tests/cms/inittests.stamp
tests/cms/pubring.kbx
tests/cms/pubring.kbx~
tests/cms/sign.scm.log
tests/cms/testdir.stamp
tests/cms/trustlist.txt
tests/cms/verify.scm.log
tests/gpgscm/gpgscm
tests/gpgscm/t-child
tests/migrations/extended-pkf.scm.log
tests/migrations/from-classic.scm.log
tests/migrations/issue2276.scm.log
tests/openpgp/fake-pinentry
tools/gpg-card
tools/gpg-card.w32-manifest
tools/gpg-check-pattern.w32-manifest
tools/gpg-connect-agent.w32-manifest
tools/gpg-pair-tool
tools/gpg-wks-client
tools/gpg-wks-client.w32-manifest
tools/gpg-wks-server
tools/gpgconf.w32-manifest
tools/gpgtar.w32-manifest
